[server]
address = "0.0.0.0:8002"
timeout = 15

[database]
address = "0.0.0.0"
port = "5432"
name = "savannah" //must match docker database name
user = "savannah" //must match docker database user
password = "savannah" //must match docker database password

[sms]
key="AFRICASTALKING-TOKEN"
name="sandbox"
code="AFRICASTALKING-SHORTCODE"

[security]
key="Butter"